{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="hero">
    <div class="hero-image">
      <img src="/static/pfp.jpg" alt="Jackson Hayward">
    </div>
    <div class="hero-text">
      <h1>Hi! I'm Jackson</h1>
      <p>I'm a recent Computer Science grad with industry experience building imaging datasets and training artificial intelligence models</p>
      <br>
      <p>I'm really excited about recent innovations in the robotics, defense, aerospace, and geospatial industries and am aspiring to start my career in one of these fields </p>
      <br>
      <p>Outside of programming I love mountaineering, astronomy, studying maps and spending time outside any way I can</p>
    </div>
  </section>
  
{% endblock %}

