{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="hero">
    <div class="hero-image">
      <img src="/static/DSCF8130.JPG" alt="Your Avatar">
    </div>
    <div class="hero-text">
      <h1>Hi! I'm Jackson</h1>
      <p>I'm a recent Computer Science grad with industry experience building datasets and training artificial intelligence models</p>
      <br>
      <p>Outside of programming I love mountaineering, astronomy, and studying maps</p>
    </div>
  </section>
  
{% endblock %}

